[req]
distinguished_name=req_distinguished_name
req_extensions=v3_req
prompt=no
[req_distinguished_name]
CN=sdrpidb01.stardigita.com
[v3_req]
subjectAltName=@alt_names
[alt_names]
DNS.1=sdrpidb01
DNS.2=sdrpidb01.stardigita.com
IP.1=192.168.10.15
